{
  "CitationsV1": {
    "KNOWLEDGE_BASE_ID": "ZI2DHYWRGS",
    "MODEL_ARN": "arn:aws:bedrock:us-east-1:<ACCOUNT_ID>:inference-profile/us.anthropic.claude-sonnet-4-6",
    "NUMBER_OF_RESULTS": "3"
  },
  "CitationsV2": {
    "KNOWLEDGE_BASE_ID": "ZI2DHYWRGS",
    "MODEL_ID": "us.anthropic.claude-sonnet-4-6",
    "NUMBER_OF_RESULTS": "3"
  }
}
